#scrollbar::-webkit-scrollbar {

    /* background: #5a1e02 */
    border-radius: 50%;
    width: 10px;
}

/*rgb(54, 53, 53)*/
/*rgb(163, 158, 158);*/
#scrollbar::-webkit-scrollbar-track {
    
    background: rgb(184, 180, 180) ;
    height:10%;
    width: 20px;
    border-radius: 0px 0px 6px;
    
    }
    
    #scrollbar::-webkit-scrollbar-thumb {
    background: rgb(110, 110, 110);
    border-radius: 6px;
   

    }